<mat-toolbar color="primary" class="mat-elevation-z4 footer-general">
    <mat-icon> copyright </mat-icon>
    <span class="creador"> Powered by Grupo 16 ACE2 - jogo-hm </span>
    <span class="example-spacer"></span>
        <img mat-card-image class="images" src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png?hl=es" alt="Photo of a Shiba Inu">

        <img mat-card-image class="images" src="http://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt="Photo of a Shiba Inu">
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
</mat-toolbar>