<h2 mat-dialog-title>Instrucciones VO2MAX</h2>
<mat-dialog-content>

    <div class="letras">
      <ol>
        <li>
          (opcional) Cambiar el peso, en el botón "peso"
        </li>
        <li>
          Inicia una sesión simple de espirometría de 5 minutos, en la opción "Ir", en la cual se deberá hacer lo siguiente:
          <ul>
            <li>
              Realizar una inhalación profunda antes de colocar la boca en el tubo. 
            </li>
            <li>
              Exhalar en el tubo hasta expulsar todo el aire 
  
            </li>
            <li>
              Inhalar nuevamente hasta que tenga lo pulmones llenos d. Repetir el paso b y c hasta que se cumplan 5 minutos.  
            </li>
          </ul>
        </li>
        <li>
          El dispositivo dejará de medir pasado el último minuto.
        </li>
      </ol>     
    </div>                 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="accent">OK</button>
</mat-dialog-actions>
