.example-card {
    max-width: 500px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .center-content {
    text-align: -webkit-center;
  }
  
  .basic-blok {
    width: 100px;
    height: 50px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .button-form-blue {
    width: 100%;
    background-color: rgb(0, 102, 255);
    color: white;
    height: 50px;
  
  }
  
  .button-form-red {
    width: 100%;
    background-color: rgb(238, 6, 6);
    color: white;
    height: 50px;
  
  }
  
  .little-blok {
    height: 30px;
    width: 100%;
  }
  
  .select-field-form {
    width: 100%;
  }

table {
    width: 100%;
  }
  