/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(48, 2, 2);}*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("https://i.pinimg.com/originals/a6/ce/ca/a6ceca8d3d08c68dd4ac96e946263a1c.jpg");}


